
// ----------------------------------------------------------------------------------------
// Vista DESKTOP
@media (min-width: 1024px){
    .navbar{
        font-size: 20px;
        padding-left: 525px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: black;
        padding-inline: 15px;
    }
    
    .dropdown-menu a{
        font-size: 20px;
    }    
}

// ----------------------------------------------------------------------------------------
// Vista MOBILE
@media (max-width: 767px){

    .navbar{
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .dropdown-menu a{
        font-size: 20px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

}

// ----------------------------------------------------------------------------------------
// Vista TABLET
@media (min-width: 768px) and (max-width: 1023px){
    .navbar{
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .dropdown-menu a{
        font-size: 20px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: black;
    }
}