@media (min-width: 1024px){

    .ubTitle{
        padding-top: 10px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }

    .border{
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
    }

    .formulario__datos{
        border: 1px rgb(190, 190, 190) solid;
        padding: 10px;
        border-radius: 10px;
        margin-right: 40px;
        background-color: rgb(226, 226, 226);
    }

    .formulario{
        padding-top: 10px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }

    .center{
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .ubicacion{
        position: relative;
        left: 10px;
    }

    .ubicacion__mapa{
        border-radius: 10px;
    }
}

@media (max-width: 767px){
    .ubTitle{
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }

    .border{
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
    }

    .formulario__datos{
        border: 1px rgb(190, 190, 190) solid;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(226, 226, 226);
    }

    .formulario{
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }

    .ubicacion{
        position: relative;
        padding-bottom: 15px;
    }

    .ubicacion__mapa{
        width: 90%;
        border-radius: 10px;
    }
}