@media only screen and (min-width: 1024px){
    $paddLeft: 180px;
    $ancho: 450px;
    $alto: 210px;

    .paddingLeftBot1, .paddingLeftBot{
        padding-left: $paddLeft;
        padding-bottom: 50px;
    }
    
    .rionegrina__horario, .neuquina__horario, .ciudad__horario, .provincia__horario{
        width: ($ancho)-200; 
        height: ($alto)-110; 
        background: white;
        border-radius: 20px;
    
        h2, div{
            text-align: center;
            font-size: 20px;
        }
    }

    // --------------------------------------------------
    .patagonia{
        background-color: #9b59b6;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 5px 10px #4a00ab;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 20px;
        border-bottom: 1px solid #d9d9d9;

        .patagonia__logo{
            width:50%;
            padding-top: 6px;
            padding-bottom: 5px;
        }
    }

    .patagonia:hover {
        box-shadow: 0px 15px 25px -5px #4a00ab;
        transform: scale(1.03);
        color: white;
    }

    .patagonia:active {
        box-shadow: 0px 4px 8px #4a00ab;
        transform: scale(0.98);
    }

    // --------------------------------------------------
    
    .minibingo {
        background-color: #67a57f;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 5px 10px #005e0c;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 20px;
        border-bottom: 1px solid #d9d9d9;
    
        .minibingo__logo{
            width: 40%;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }

    .minibingo:hover {
        box-shadow: 0px 15px 25px -5px #005e0c;
        transform: scale(1.03);
        color: white;
    }
    .minibingo:active {
        box-shadow: 0px 4px 8px #005e0c;
        transform: scale(0.98);
    }

    // --------------------------------------------------
    
    .loto {
        background-color: #d45a5a;
        padding-bottom: 20px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 5px 10px #ab0000;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 20px;
        border-bottom: 1px solid #d9d9d9;
    
        .loto__logo{
            width: 30%;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }

    .loto:hover {
        box-shadow: 0px 15px 25px -5px #ab0000;
        transform: scale(1.03);
        color: white;
    }
    .loto:active {
        box-shadow: 0px 4px 8px #0065c8;
        transform: scale(0.98);
    }

    // --------------------------------------------------
    
    .quini6 {
        background-color: #689dcf;
        padding-bottom: 20px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 5px 10px #50779c;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 20px;
        border-bottom: 1px solid #d9d9d9;
    
        .quini6__logo{
            width: 40%;
            padding-top: 10px;
            padding-bottom: 13px;
        }
    }

    .quini6:hover {
        box-shadow: 0px 15px 25px -5px #50779c;
        transform: scale(1.03);
        color: white;
    }
    .quini6:active {
        box-shadow: 0px 4px 8px #0065c8;
        transform: scale(0.98);
    }

    // --------------------------------------------------
    
    .titulo{
        text-align: center;
        div{
            font-size: 25px;
        }
    }
    
    .title1, .title2, .title3, .title4{
        text-align: center;
    }

    // -------------------------------------------------------------------------------------------------------------------------

    $quinielas:(
        Rionegrina: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,173,20,1) 100%),
        Neuquina: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,255,0,1) 87%),
        Ciudad: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(115,254,255,1) 71%, rgba(0,254,255,1) 100%),
        Provincia: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(115,204,116,1) 49%, rgba(21,38,190,1) 100%)
    );

    @each $quin, $gradient in $quinielas{
        .fondo#{$quin}{
            background: $gradient;
        }
    }

    // -------------------------------------------------------------------------------------------------------------------------
     
    .fondoCiudad{
        padding-top: 50px;
    }
    
    .fondoProvincia{
        padding-top: 50px;
    }
    
    
    .rionegrina__logo{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .neuquina__logo{
        width: 20%;
        position: relative;
        top:30px;
        padding-bottom: 47px;
    }
    
    .ciudad__logo{
        position: relative;
        bottom: 50px;
        width: 27%;
    }
    
    .provincia__logo{
        width: 30%;
        position: relative;
        bottom: 30px;
    }
}