
@media only screen and (min-width: 1024px){
    .pie li{
        color:gray ;
        font-size: 15px;
        margin-top: 10px;
    }

    .pie__part1{
        background-color: rgba(240, 240, 240, 0.836);
        margin-top: 20px;
        border-top: 1px rgb(216, 216, 216) solid;
    }

    .pie__part2{
        background-color: rgba(240, 240, 240, 0.836);
        margin-top: 20px;
        border-left: 1px rgb(216, 216, 216) solid;
        border-top: 1px rgb(216, 216, 216) solid;
        h3{
            font-size: 15px;
            margin-top: 10px;
        }
    }

    .pie__part3{
        color: $blanco;
        background-color: $negro;
        border-top: 1px rgb(216, 216, 216) solid;
        h3{
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

// ----------------------------------------------------------------------------------------
// Vista MOBILE
@media only screen and (max-width: 767px){
    .pie{
        color:gray ;
        font-size: 15px;
        display: block;
    }

    .pie__part1{
        margin-top: 20px;
        border-top: 1px rgb(216, 216, 216) solid;
    }

    .pie__part2{
        border-left: 1px rgb(216, 216, 216) solid;
        border-top: 1px rgb(216, 216, 216) solid;
        h3{
            font-size: 15px;
            margin-top: 10px;
        }
    }

    .pie__part3{
        border-top: 1px rgb(216, 216, 216) solid;
        h3{
            font-size: 15px;
            margin-top: 10px;
        }
    }
    
}