@media (min-width: 1024px){

    .titulo_quienesSomos{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        padding: 10px 0;
    }

    .agencia {
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        .content{
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }

        &__imagen{
            width: 100%;
        }
    }
}

@media (max-width: 767px){

    .titulo_quienesSomos{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        padding: 10px 0;
    }

    .cuadroAgencia{
        margin: 0 10px;
    }

    .agencia {
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        .content{
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }

        &__imagen{
            width: 100%;
        }
    }
}