// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// Vista DESKTOP
@media (min-width: 1024px){
    // ----------------------------------------
    .titulo__resultados{
        padding-top: 10px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }
    
    .subtitulo__resultados{
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
    }

    // ----------------------------------------

    .btn__resultados{
        font-weight: bold;
        color: $negro ;
        box-shadow: 1px 1px 10px #3f3f3f;
        padding: 5px;
        border-radius: 10px;
        border: 0px solid $blanco;
        background: $blanco;
    }

    .btn__resultados:hover{
        color: $negro !important;
        background: #e7e7e7;
        text-decoration: none;
    }

    // ----------------------------------------

    .tablaPatv, .tablaMinibingo, .tablaLoto, .tablaQuini, .tablaLotUni, .tablaBrinco, .tablaPozo{
        border-radius: 16px;
        margin-bottom: 20px;
        thead{
            background-color: black;
            color: white;
        }
        .sorteo{
            background-color: #e2e2e2;
        }
    }

    // ----------------------------------------

    .resultadosPatagonia, .resultadosMinibingo, .resultadosLoto, .resultadosQuini6, .resultadosQuiniela, .resultadosLoteria, .resultadosBrinco, .resultadosPozo{
        margin: 0 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    // ----------------------------------------
    
    .resultadosPatagonia{
        background: $patagonia;
    }

    // ----------------------------------------
    
    .resultadosMinibingo{
        background: $minibingo;
        padding-bottom: 265px;
    }

    // ----------------------------------------
    
    .resultadosLoto{
        background: $loto;
        padding-bottom: 214px;
    }

    // ----------------------------------------
    
    .resultadosQuini6{
        background: $quini6;
    }

    // ----------------------------------------
    
    .resultadosQuiniela{
        background: $quiniela;
    }

    // ----------------------------------------
    
    .resultadosLoteria{
        background: $loteria;
    }

    // ----------------------------------------
    
    .resultadosBrinco{
        background: $brinco; 
    }
    
    // ----------------------------------------

    .resultadosPozo{
        background: $quiniela;
    }

    // ----------------------------------------
}

// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// Vista MOBILE
@media (max-width: 767px){
    // ----------------------------------------
    .titulo__resultados{
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
    }
    
    .subtitulo__resultados{
        text-align: center;
        font-size: 20px;
        padding: 10px 5px;
    }

    // ----------------------------------------

    .btn__resultados{
        font-weight: bold;
        color: $negro ;
        box-shadow: 1px 1px 10px #3f3f3f;
        padding: 5px;
        border-radius: 10px;
        border: 0px solid $blanco;
        background: $blanco;
    }

    .btn__resultados:hover{
        color: $negro !important;
        background: #e7e7e7;
        text-decoration: none;
    }

    // ----------------------------------------
    
    .tablaPatv, .tablaMinibingo, .tablaLoto, .tablaQuini, .tablaLotUni, .tablaBrinco, .tablaPozo{
        margin: 0 5px 20px 5px;
        thead{
            background-color: black;
            color: white;
        }
        .sorteo{
            background-color: #e2e2e2;
        }
    }

    // ----------------------------------------

    .resultadosPatagonia, .resultadosMinibingo, .resultadosLoto, .resultadosQuini6, .resultadosQuiniela, .resultadosLoteria, .resultadosBrinco, .resultadosPozo{
        padding-bottom: 15px;
        margin: 0 10px 30px 10px;
        border-radius: 20px;
    }

    // ----------------------------------------
    
    .resultadosPatagonia{
        background: $patagonia;
    }

    // ----------------------------------------
    
    .resultadosMinibingo{
        background: $minibingo;
    }

    // ----------------------------------------
    
    .resultadosLoto{
        background: $loto;
    }

    // ----------------------------------------
    
    .resultadosQuini6{
        background: $quini6;
    }

    // ----------------------------------------
    
    .resultadosQuiniela{
        background: $quiniela;
    }

    // ----------------------------------------
    
    .resultadosLoteria{
        background: $loteria;
    }

    // ----------------------------------------
    
    .resultadosBrinco{
        background: $brinco; 
    }

    // ----------------------------------------
    
    .resultadosPozo{
        background: $quiniela;
    }

    // ----------------------------------------
}

// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// Vista TABLET
@media (min-width: 768px) and (max-width: 1023px){
    // ----------------------------------------
    .titulo__resultados{
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
    }
    
    .subtitulo__resultados{
        text-align: center;
        font-size: 20px;
        padding: 10px 5px;
    }

    // ----------------------------------------

    .btn__resultados{
        font-weight: bold;
        color: $negro ;
        box-shadow: 1px 1px 10px #3f3f3f;
        padding: 5px;
        border-radius: 10px;
        border: 0px solid $blanco;
        background: $blanco;
    }

    .btn__resultados:hover{
        color: $negro !important;
        background: #e7e7e7;
        text-decoration: none;
    }

    // ----------------------------------------
    
    .tablaPatv, .tablaMinibingo, .tablaLoto, .tablaQuini, .tablaLotUni, .tablaBrinco, .tablaPozo{
        margin: 0 5px 20px 5px;
        thead{
            background-color: black;
            color: white;
        }
        .sorteo{
            background-color: #e2e2e2;
        }
    }

    // ----------------------------------------

    .resultadosPatagonia, .resultadosMinibingo, .resultadosLoto, .resultadosQuini6, .resultadosQuiniela, .resultadosLoteria, .resultadosBrinco, .resultadosPozo{
        padding-bottom: 15px;
        margin: 0 10px 30px 10px;
        border-radius: 20px;
    }

    // ----------------------------------------
    
    .resultadosPatagonia{
        background: $patagonia;
    }

    // ----------------------------------------
    
    .resultadosMinibingo{
        background: $minibingo;
    }

    // ----------------------------------------
    
    .resultadosLoto{
        background: $loto;
    }

    // ----------------------------------------
    
    .resultadosQuini6{
        background: $quini6;
    }

    // ----------------------------------------
    
    .resultadosQuiniela{
        background: $quiniela;
    }

    // ----------------------------------------
    
    .resultadosLoteria{
        background: $loteria;
    }

    // ----------------------------------------
    
    .resultadosBrinco{
        background: $brinco; 
    }

    // ----------------------------------------
    
    .resultadosPozo{
        background: $quiniela;
    }

    // ----------------------------------------
}
